<%- include('../header') %>

<form method="POST" action="/categorias/editar/<%= categoria.id %>">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" placeholder="Insira o nome da categoria" class="form-control" id="categoria" name="categoria" value="<%= categoria.categoria %>">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<%- include('../footer') %>