<%- include('../header') %>

<form method="POST" action="/publicacoes/nova">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" placeholder="Insira o título da publicação" class="form-control" id="titulo" name="titulo">
    </div>
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <select class="form-control" id="categoria" name="categoria">
            <% categorias.forEach( categoria => { %>          
            <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
            <% }) %>
        </select>
        </div>
    <div class="form-group">
            <label for="conteudo">Conteúdo</label>
            <textarea placeholder="Conteúdo" class="form-control" id="conteudo" name="conteudo"></textarea>
        </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
    
<%- include('../footer') %> 

